* {
  box-sizing: border-box !important;
  margin: 0px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-image: url("https://raw.githubusercontent.com/spencerf2/coding_temple_portfolio_website/master/Images/pexels-philippe-donn-1169754.jpg");
  background-size: cover;
}

header {
  position: fixed;
  width: 100%;
  top: 0px;
  text-align: center;
  z-index: 3;
}

header h1 {
  background-color: black;
  color: snow;
  font-size: 3rem;
  padding-top: 0.5%;
}

nav {
  background-color: black;
  padding: 0.05%;
  line-height: 2.5;
}

nav ul {
  display: grid;
  grid-template-areas: "interests background past-projects goals";
}

nav li {
  list-style: none;
  padding-bottom: 1.5%;
}

nav li a {
  text-decoration: none;
}

nav li a:hover {
  color: lime;
  transition: color 1.4s ease-out 0.10s;
}

nav .interests {
  grid-area: "interests";
}

nav .background {
  grid-area: "background";
}

nav .past-projects {
  grid-area: "past-projects";
}

nav .goals {
  grid-area: "goals";
}

main {
  display: grid;
  grid-template-areas: "background-sect interests-sect"
                       "past-projects-sect goals-sect";
  grid-template-rows: repeat(2, 0.4fr);
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  grid-auto-rows: minmax(min-content, max-content);
  margin-top: 6%;
  padding: 3%;
  color: snow;
}

#background-sect {
  grid-area: background-sect;
  background-color: rgba(0, 0, 0, 0.7);
}

#background-sect h2 {
  text-align: center;
  font-size: 1.75rem;
}

#background-sect h4 {
  text-align: center;
  font-size: 1.1rem;
}

#background-sect .background-figures {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  margin-top: 1%;
  height: 89%;
  width: auto;
}

/* Background Section Serviced in Love */

#background-sect .background-figures .serviced-in-love {
  width: auto;
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#background-sect .background-figures .serviced-in-love img {
  width: 100%;
  height: auto;
}

/* Background Section Bookkeeping */

#background-sect .background-figures .bookkeeping {
  width: auto;
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#background-sect .background-figures .bookkeeping img {
  width: 100%;
  height: auto;
}

/* Background Section Cannabis Consulting Firm */

#background-sect .background-figures .cannabis-consulting-firm {
  width: auto;
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#background-sect .background-figures .cannabis-consulting-firm img {
  width: 100%;
  height: auto;
}

/* Background Section Managing Dispensary */

#background-sect .background-figures .managing-dispensary {
  width: auto;
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#background-sect .background-figures .managing-dispensary img {
  width: 100%;
  height: auto;
}

/* Background Section Cashiering Dispensary */

#background-sect .background-figures .cashiering-dispensary {
  width: auto;
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#background-sect .background-figures .cashiering-dispensary img {
  width: 100%;
  height: auto;
}

/* Background Section Econ Degree */

#background-sect .background-figures .econ-degree {
  width: auto;
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#background-sect .background-figures .econ-degree img {
  width: 100%;
  height: auto;
}

/* Background Section Math Degree */

#background-sect .background-figures .math-degree {
  width: auto;
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#background-sect .background-figures .math-degree img {
  width: 100%;
  height: auto;
}

/* Background Section Executive Assistant */

#background-sect .background-figures .executive-assistant {
  width: auto;
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#background-sect .background-figures .executive-assistant img {
  width: 100%;
  height: auto;
}

#interests-sect {
  grid-area: interests-sect;
}

#interests-sect h2 {
  text-align: center;
  font-size: 1.75rem;
  background-color: rgba(0, 0, 0, 0.7);
}

#interests-sect h4 {
  text-align: center;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

#interests-sect p {
  padding: 1.6rem;
  background-color: rgba(0, 0, 0, 0.7);
}

#interests-sect ul {
  display: grid;
  grid-template: repeat(8, 0.4fr) / repeat(2, 0.5fr);
  justify-items: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0px;
}

#interests-sect ul li {
  list-style: none;
  text-align: center;
}

#interests-sect .span-2-col {
  grid-column: 1 / span 2;
}

#interests-sect .morning-routine {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 1.6rem;
}

#interests-sect .morning-routine span {
  background-color: rgba(0, 0, 0, 0.7);
}

#interests-sect .morning-routine ol { 
  padding-top: 0.2rem;
}

#interests-sect .morning-routine ol li {
  padding-top: 0.5rem;
}

#past-projects-sect {
  grid-area: past-projects-sect;
}

#past-projects-sect h2 {
  text-align: center;
  font-size: 1.75rem;
  background-color: rgba(0, 0, 0, 0.7);
}

#past-projects-sect h4 {
  text-align: center;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

#past-projects-sect p {
  padding: 1.6rem 1.6rem 0rem 1.6rem;
  background-color: rgba(0, 0, 0, 0.7);
}

#goals-sect {
  grid-area: goals-sect;
}

#goals-sect h2 {
  text-align: center;
  font-size: 1.75rem;
  background-color: rgba(0, 0, 0, 0.7);
}

#goals-sect h4 {
  text-align: center;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

#goals-sect ol {
  padding: 1.6rem 1.6rem 0rem 1.6rem;
  background-color: rgba(0, 0, 0, 0.7);
}

#goals-sect ol li {
  padding: 0.5rem;
}